{% extends "::layout.html.twig" %}

{% block body %}
	<h1>Activite</h1>
	<table >
		<thead>
			<tr>
				<th width="200">Id</th>
				<th width="200">Libelle</th>
				<th width="200">Code</th>
				<th width="200"></th>

			</tr>
		</thead>
		{% for activite in listeActivite %}
		<tbody>
			<tr>

				<td>{{ activite.id }} </td>
				<td>{{ activite.libelle }}</td>
				<td>{{ activite.code }}</td>
				<td><a href="{{ path('ConsulterActivite', {'id': activite.id}) }}">Plus d'infos</a></td>

			</tr>
		</tbody>
	{% endfor %}
	</table>
<button onclick="self.location.href='{{ path('AjouterActivite')}}'">Ajouter Activité</button>	

{% endblock %}
