{% extends "::layout.html.twig" %}
{% block body %}


		<h2>Modifier une Entreprise</h2>

		<form method="post" {{ form_enctype(form) }}>
		{{ form_errors(form) }}
			<table>

				<tr>
					<th>Raison Sociale</th>
					<td>{{ form_widget(form.raisonSociale, {'attr': {'placeholder': 'Raison Sociale'} }) }}</td>
				</tr>
				<tr>
					<th>Rue</th>
					<td>{{ form_widget(form.rue, {'attr': {'placeholder': 'Rue'} }) }}</td>
				</tr>
				<tr>
					<th>Ville</th>
					<td>{{ form_widget(form.ville, {'attr': {'placeholder': 'Ville'} }) }}</td>
				</tr>
				<tr>
					<th>Code Postal</th>
					<td>{{ form_widget(form.cp, {'attr': {'placeholder': 'Ex : CodePostal'} }) }}</td>
				</tr>
				<tr>
			<th>Etudiant</th>
			<td>{{ form_widget(form.activite) }}</td>
		</tr>

				<tr>
					<td colspan="2" style="text-align:center;"><button type="submit">Modifier</button></td>
				</tr>
			</table>
			{{ form_rest(form) }}
		</form>




{% endblock %}
