<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
        <title>{% block title %}WEBSTUDENT{% endblock %}</title>

        {% block stylesheets %}

        <link rel=stylesheet type="text/css" href="{{ asset('css/foundation.min.css') }}" media="all" >
        <link rel=stylesheet type="text/css" href="{{ asset('css/normalize.css') }}" media="all" >
        <link rel=stylesheet type="text/css" href="{{ asset('css/perso.css') }}" media="all" >
        <!--<link rel=stylesheet type="text/css" href="{{ asset('css/persoscss.scss') }}" media="all" >-->

        <!--exemple pour intégrer fichier js: <script src="{{ asset('js/script.js') }}" type="text/javascript" /> -->
        <script src="{{ asset('js/vendor/modernizr.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/vendor/jquery.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/vendor/fastclick.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/foundation.min.js') }}" type="text/javascript"></script>

        {% endblock %}

    </head>
        
    <body >

        {% block nav %} 

            {{ include('webStudentEtudiantBundle:Etudiant:nav.html.twig') }}

        {% endblock %}
        

        </br></br>

        <div align="center">
        {% block body %} {% endblock %}
         </div>

        </br>

        <script>
            $(document).foundation();
        </script>

        </br></br>

        {% block footer %}

            {{ include('webStudentEtudiantBundle:Etudiant:footer.html.twig') }}

        {% endblock %}

    </body>
</html>