{# src/webStudent/EtudiantBundle/Resources/views/Etudiant/ajouterEtudiant.html.twig #}
{% extends "::layout.html.twig" %}
	
{% block body %}

	
<h2>Ajouter un Etudiant</h2>

</br>

<form method="post" {{ form_enctype(form) }}>
	<!-- {{ form_errors(form) }} -->
	<table class="table table-striped">
		
		<tr>
			<th width="300">Nom</th>
			{{ form_errors(form.nom) }}
			<td width="600">{{ form_widget(form.nom, {'attr': {'placeholder': 'Nom'} }) }}</td>
		</tr>
		<tr>
			<th>Prenom</th>
			{{ form_errors(form.prenom) }}
			<td>{{ form_widget(form.prenom, {'attr': {'placeholder': 'Prenom'} }) }}</td>
		</tr>
		<tr>
			<th>AdresseMail</th>
			{{ form_errors(form.adressemail) }}
			<td>{{ form_widget(form.adressemail, {'attr': {'placeholder': 'Adresse mail'} }) }}</td>
		</tr>
		<tr>
			<th>Telephone</th>
			{{ form_errors(form.telephone) }}
			<td>{{ form_widget(form.telephone, {'attr': {'placeholder': 'Telephone'} }) }}</td>
		</tr>
		<tr>
			<th>Date d'inscription dans la section</th>
			{{ form_errors(form.date) }}
			<td>{{ form_widget(form.date) }}</td>
		</tr>
		<tr>
			<th>Section</th>
			{{ form_errors(form.section) }}
			<td>{{ form_widget(form.section, {'attr': {'placeholder': 'entreprise'} }) }}</td>
		</tr>
		<tr>
			<td align="center"><button type="reset">Effacer</button>
			<td align="center"><button type="submit">Valider</button>
		</tr>
	</table>
	{{ form_rest(form) }}			 
</form>

{% endblock %}