{# src/tapa2stage/EtudiantBundle/Resources/views/Etudiant/consulterEtudiant.html.twig #}
{% extends "::layout.html.twig" %}

	{% block body %}


		<h3>Détail compte <b>{{app.user.username}} - {{app.user.id}}</b></h3>

		<table>

			<tr>
				<th>Nom</th>
				<td>{{app.user.username}}</td>
			</tr>
			<tr>
				<th>Id</th>
				<td>{{app.user.id}}</td>
			</tr>
			<tr>
				<th>Pwd</th>
				<td>{{app.user.password}}</td>
			</tr>

		</table>

<button onclick="self.location.href='{{ path('ModifierCompte', {'id': app.user.id})}}'">Modifier votre compte</button>
{% endblock %}
