{% extends "webStudentEtudiantBundle:Etudiant:layout.html.twig" %}

	{% block body %}
  <h1>Stage  </h1>
  <table cellspacing="0">
 	<tr>
 		<th>Nom </th>
 		<td> {{id}}</td>
 	</tr> </h1>
 	<tr>
 		<th>Date de debut </th>
 		<td> {{debut|date("d/m/Y")}}</td>
 	</tr>
 	<tr>
 		<th>Date de fin </th>
 		<td> {{fin|date("d/m/Y")}}</td>
 	</tr>
 	<tr>
 		<th>Activite </th>
 		<td> {{activite}}</td>
 	</tr>
 	<tr>
 		<th>Entreprise </th>
 		<td> {{entreprise}}</td>
 	</tr>
 	
 </table>
 {% endblock %}