{% extends "webStudentEtudiantBundle:Etudiant:layout.html.twig" %}

	{% block body %}
	{% block test %} {{ parent() }} {% endblock %}
 <h1>Etudiant  </h1>
 <table border=1>
 	<tr>
 		<td>Nom </td>
 		<td> {{id}}</td>
 	</tr> </h1>
 	<tr>
 		<td>Prenom </td>
 		<td> {{prenom}}</td>
 	</tr>
 	<tr>
 		<td>Mail </td>
 		<td> {{mail}}</td>
 	</tr>
 	<tr>
 		<td>Telephone </td>
 		<td> {{telephone}}</td>
 	</tr>
 	
 </table>
{% endblock %}