{% extends "webStudentEtudiantBundle:Etudiant:layout.html.twig" %}

{% block body %}
	<h1>Etudiants</h1>
	<table >
		<thead>
			<tr>
				<th width="200">Nom</th>
				<th width="200">Prenom</th>
				<th width="200">Section</th>
				<th width="200">Plus de détails</th>
			</tr>
		</thead>
		{% for etudiant in listeEtudiant %}
		<tbody>
			<tr>
			
				<td>{{ etudiant.nom }} </td>
				<td>{{ etudiant.prenom }}</td>
				<td>{{ etudiant.section.nom }}</td>
				<td><a href="{{ path('ConsulterEtudiant', {'id': etudiant.id})}}"> En voir plus</a></td>
			</tr>
		</tbody>
	{% endfor %}
	</table>
	<button onclick="self.location.href='{{ path('AjouterEtudiant')}}'">Ajouter Etudiant</button>
	
{% endblock %}