{% extends "::layout.html.twig" %}
	{% block body %}


<h2>Modifier un Compte</h2>

<form class="form-inline" method="post" {{ form_enctype(form) }}>
{{ form_errors(form) }}
	<table class="table table-striped">
	
		<tr>
			<th>Identifiant</th>
			<td>{{ form_widget(form.username) }}</td>
		</tr>	
		<tr>
			<th>Mot de Passe</th>
			<td>{{ form_widget(form.password) }}</td>
		</tr>
		
		
		<tr>
			<td colspan="2" style="text-align:center;"><input type="submit"  value="Valider"/></td>
		</tr>
	</table>
	{{ form_rest(form) }}			 
</form>
{% endblock %}

