{% extends "::layout.html.twig" %}
	{% block body %}


<h2>Modifier un Etudiant</h2>

<form  method="post" {{ form_enctype(form) }}>
{{ form_errors(form) }}
	<table >

		<tr>
			<th>Nom</th>
			<td>{{ form_widget(form.nom) }}</td>
		</tr>
		<tr>
			<th>Prénom</th>
			<td>{{ form_widget(form.prenom) }}</td>
		</tr>
		<tr>
			<th>Adresse mail</th>
			<td>{{ form_widget(form.adressemail) }}</td>
		</tr>
		<tr>
			<th>Téléphone</th>
			<td>{{ form_widget(form.telephone) }}</td>
		</tr>

		<tr>
			<th>Date inscription</th>
			<td>{{ form_widget(form.date) }}</td>
		</tr>

		<tr>
			<th>Section</th>
			<td>{{ form_widget(form.section) }}</td>
		</tr>

		<tr>
			<td colspan="2" style="text-align:center;"><button type="submit"  value="Modifier"/>Modifier</td>
		</tr>
	</table>
	{{ form_rest(form) }}
</form>
{% endblock %}
